@font-face {
  font-family: HeadingFont;
  src: url(../assets/fonts/IMFellEnglish-Regular.ttf);
}

@font-face {
  font-family: Aramante;
  src: url(../assets/fonts/amarante-regular.ttf);
}

@font-face {
  font-family: BestiaryText;
  src: url(../assets/fonts/texgyrebonum-bold.otf);
  font-weight: 600 900;
}

@font-face {
  font-family: BestiaryText;
  src: url(../assets/fonts/texgyrebonum-regular.otf);
}

@font-face {
  font-family: SecondaryLabel;
  src: url(../assets/fonts/MyriadPro-BoldCond.otf);
}

.gb-quick-reference {
  --gb-standardSpacing: 0.4rem;
  --gb-heightTopBorder: 39px;
  --gb-backgroundSize: 100% var(--gb-heightTopBorder);
  --gb-headerColor: rgb(132, 27, 22);
  --gb-h3color: rgb(53, 19, 14);
  --gb-colorLabel: rgb(32, 36, 35);
  --gb-colorSecondaryLabel: rgb(40, 18, 15);
  --gb-borderRadius: 3px;
  --gb-labelAcc: 'Acc ';
  --gb-labelBulk: 'Bulk ';
  --gb-backgroundColor: rgb(255, 245, 236);
  --gb-backgroundColorBottom: papayawhip;
  --gb-backgroundColorPopup: lightgrey;
  --gb-backgroundColorRollable: gold;
  --gb-backgroundColorModifier: orange;
  --gb-backgroundColorModActive: rgb(158, 87, 0);
  --gb-pagerefhover: 0 0 5px lightcoral;
  --gb-dropshadow: 2px 2px 4px grey;
  --gb-imageBorderTop: url(../assets/images/gb_border_top.webp);
  --gb-imageBorderBottom: url(../assets/images/gb_border_bottom.webp);
  --gb-topBorderHeight: 55px;
  --gb-bottomColumnTemplate: 6.5% 6.2% auto 6.5% 7.5%;
  --gb-pageRefBackground: none;
  --gb-pageRefMargins: 0 0 15px;
}

.gb-quick-reference.bestiary {
  --gb-backgroundColor: white;
  --gb-imageBorderTop: url(../assets/images/bestiary_border_top.webp);
  --gb-imageBorderBottom: url(../assets/images/bestiary_border_bottom.webp);
  --gb-topBorderHeight: 77px;
  --gb-bottomColumnTemplate: 4% 6.5% auto 6.5% 4.5%;
  --gb-pageRefBackground: radial-gradient(
    ellipse at center,
    rgb(254 254 254 / 100%) 0%,
    rgb(255 255 255 / 80%) 40%,
    rgba(0, 0, 0, 0) 80%
  );
  --gb-pageRefMargins: 15px 0 15px 0;
}

.gb-quick-reference.bugstiary {
  --gb-backgroundColor: rgb(253, 246, 236);
  --gb-imageBorderTop: url(../assets/images/bugstiary_border_top.webp);
  --gb-imageBorderBottom: url(../assets/images/bugstiary_border_bottom.webp);
  --gb-bottomColumnTemplate: 4.7% 6.5% auto 6.5% 4.2%;
  --gb-pageRefMargins: 10px 0 15px 0;
}

.gb-quick-reference.garden {
  --gb-backgroundColor: rgb(249, 255, 249);
  --gb-imageBorderTop: url(../assets/images/garden_border_top.webp);
  --gb-imageBorderBottom: url(../assets/images/garden_border_bottom.webp);
  --gb-bottomColumnTemplate: 4.7% 6.5% auto 6.5% 4.2%;
  --gb-pageRefMargins: 10px 0 15px 0;
}

.gb-quick-reference.snakes {
  --gb-backgroundColor: rgb(254, 246, 236);
  --gb-imageBorderTop: url(../assets/images/snakes_border_top.webp);
  --gb-imageBorderBottom: url(../assets/images/snakes_border_bottom.webp);
  --gb-bottomColumnTemplate: 2% 5.5% auto 5.5% 2%;
  --gb-pageRefMargins: 10px 0 15px 0;
}

.gb-quickref-sheet .window-content {
  font-family: BestiaryText, serif;
  padding: 0;
}

.gb-quickref-sheet .gb-name {
  font-weight: bold;
}

.gb-quickref-sheet .gb-top-border {
  margin: 0 calc(-1 * var(--gb-standardSpacing));
  min-height: var(--gb-topBorderHeight);
  background-image: var(--gb-imageBorderTop);
  background-size: 100% var(--gb-topBorderHeight);
  background-repeat: no-repeat;
  filter: drop-shadow(var(--gb-dropshadow));
}

.gb-quickref-sheet .gb-top-border img {
  border: none;
  filter: drop-shadow(2px 2px 4px grey);
  width: 100%;
  object-fit: cover;
  border-radius: unset;
}

.gb-quickref-sheet form {
  padding: 0 var(--gb-standardSpacing) 0 var(--gb-standardSpacing);
  background-color: var(--gb-backgroundColor);
}

.gb-quick-reference #bottom-border {
  position: sticky;
  overflow: hidden;
  left: 0;
  bottom: 0;
  box-shadow: 0 -8px 8px 0 rgb(0 0 0 / 20%);
  border-top: 1px solid lightgrey;
  padding: var(--gb-standardSpacing) var(--gb-standardSpacing) 0 var(--gb-standardSpacing);
  margin: 0 calc(var(--gb-standardSpacing) * -1);
  margin-bottom: calc(var(--gb-standardSpacing) * -1);
  background-color: var(--gb-backgroundColor);
}

.gb-quickref-sheet #bottom {
  grid-column: 1 / 3;
  justify-self: center;
  grid-row: 2;
  position: relative;
  width: calc(var(--gb-standardSpacing) * 2 + 100%);
  grid-template-columns: var(--gb-bottomColumnTemplate);
  display: grid;
  margin: 0 calc(var(--gb-standardSpacing) * -1);
  bottom: 0;
  text-shadow: -3px -3px 5px black, 3px 3px 5px black, 0 0 12px black;
  text-align: center;
  height: 76px;
}

.gb-quickref-sheet #copyright {
  padding-top: 50px;
  color: gold;
  text-decoration: none;
}

.gb-quick-reference #bottom-border::before {
  transform: none;
  background-image: var(--gb-imageBorderBottom);
  bottom: -80px;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 77px;
  background-repeat: no-repeat;
  filter: drop-shadow(-2px -2px 4px grey);
}

.gb-quickref-sheet {
  min-width: 400px;
}

/* ==== default styles for elements ==== */
.gb-quickref-sheet label,
.gb-quickref-sheet h1,
.gb-quickref-sheet h2 {
  font-family: HeadingFont, Roboto, sans-serif;
  font-variant: small-caps;
  color: var(--gb-headerColor);
  margin: 0;
  border: none;
}

.gb-quickref-sheet h1,
.gb-quickref-sheet h2 {
  margin: 0.5rem 0 0;
}

.gb-quickref-sheet h1 {
  font-size: 32px;
  color: black;
  text-align: center;
  border-bottom: 3px solid var(--gb-headerColor);
  margin: 0 calc(var(--gb-standardSpacing) * 3) var(--gb-standardSpacing);
}

.gb-quickref-sheet h3 {
  font-family: BestiaryText, Roboto, sans-serif;
  font-size: 14px;
  color: var(--gb-headerColor);
  border: none;
  margin: 0;
}

.gb-quickref-sheet label {
  color: var(--gb-colorLabel);
  font-size: 24px;
  text-align: right;
  min-width: 1.3rem;
}

.gb-quickref-sheet ul {
  margin: 0;
}

.gb-quickref-sheet h1 .subtype {
  font-size: 26px;
}

.gb-quickref-sheet #sb-attrs {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: var(--gb-standardSpacing);
}

.gb-quickref-sheet .left-column {
  display: inline-flex;
  flex-flow: row nowrap;
}

.gb-quickref-sheet #portrait {
  border: none;
}

.gb-quickref-sheet .img-display {
  display: inline-flex;
}

.gb-quickref-sheet .img-display img {
  border: none;
  filter: drop-shadow(var(--gb-dropshadow));
}

.gb-quickref-sheet #portrait .sharebutton {
  font-family: Aramante, serif;
}

.gb-quickref-sheet #gb-attributes-detail {
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr min-content 1fr min-content 1fr min-content 1fr;
  grid-template-rows: auto auto auto;
  align-items: baseline;
  gap: 0.15rem;
  font-size: 26px;
}

.gb-quickref-sheet .sb-secondary-attrs {
  grid-column: span 8;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-items: center;
}

.gb-quickref-sheet #gb-attributes-detail label {
  min-width: 3rem;
}

.gb-quickref-sheet #gb-attributes-detail label.gb-primary {
  color: var(--gb-headerColor);
}

.gb-quickref-sheet #gb-attributes-detail label.gb-secondary {
  color: var(--gb-headerColor);
}

.gb-quickref-sheet #gb-attributes-detail label + div {
  font-family: Aramante, Roboto, sans-serif;
  font-size: calc(100% * 0.9);
  text-align: left;
}

.gb-quickref-sheet #gb-attributes-detail label.sb-secondary {
  color: var(--gb-colorSecondaryLabel);
  font-family: SecondaryLabel, sans-serif;
  font-size: 20px;
  font-variant: none;
}

.gb-quickref-sheet #gb-attributes-detail label.sb-secondary + div {
  font-family: Aramante, Roboto, sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

.gb-quickref-sheet select#move-mode:disabled {
  color: var(--gb-colorSecondaryLabel);
  background: transparent;
  border: none;
  opacity: unset;
  appearance: none;
}

.gb-quickref-sheet .label-below {
  display: flex;
  flex-flow: column nowrap;
}

.gb-quickref-sheet .label-below select,
.gb-quickref-sheet .label-below label {
  color: var(--gb-colorSecondaryLabel);
  font-family: BestiaryText, Roboto, sans-serif;
  font-size: small;
  font-variant: none;
  height: min-content;
  padding-top: 0;
  text-align: center;
  white-space: nowrap;
}

.gb-quickref-sheet .sb-secondary-attrs > div {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: baseline;
  gap: 0.5rem;
}

.gb-quickref-sheet #trackers {
  display: inline-grid;
  gap: 0.5rem;
  justify-content: space-around;
  margin-top: var(--gb-standardSpacing);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gb-quickref-sheet #trackers input {
  font-family: Aramante, Roboto, sans-serif;
  font-size: calc(20px * 0.9);
  text-align: center;
}

.gb-quickref-sheet .with-button button:first-of-type {
  right: unset;
  left: 0.35em;
}

.gb-quickref-sheet .with-button input {
  padding: 1px 1.5rem 1px 1.5rem;
}

.gb-quickref-sheet hr {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid darkgrey;
  width: 100%;
}

.gb-quickref-sheet #gb-attacks {
  column-gap: var(--gb-standardSpacing);
  column-count: 2;
}

.gb-quickref-sheet #gb-traits-skills {
  column-count: 2;
}

.indent1,
.indent2,
.indent3,
.indent4,
.indent5 {
  padding: 0 !important;
}

.indent1 {
  margin-left: 1rem;
}

.indent2 {
  margin-left: 2rem !important;
}

.indent3 {
  margin-left: 3rem !important;
}

.indent4 {
  margin-left: 4rem !important;
}

.indent5 {
  margin-left: 5rem !important;
}

.gb-quickref-sheet .hover-help {
  font-family: BestiaryText, Roboto, sans-serif;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 100%;
  padding: 5px;
  color: var(--gb-colorSecondaryLabel);
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 5px;
}

.gb-quickref-sheet .gmod {
  background-color: inherit !important;
}

.gb-quickref-sheet .glinkmod,
.gb-quickref-sheet .gurpslink {
  border-radius: var(--gb-borderRadius);
  background-color: inherit !important;
}

.gb-quickref-sheet #gb-abilities .glinkmod,
.gb-quickref-sheet #gb-abilities .gurpslink {
  background-color: rgb(255 165 0 / 25%) !important;
}

.gb-quickref-sheet #gb-abilities .glinkmod:hover,
.gb-quickref-sheet #gb-abilities .gurpslink:hover {
  background-color: var(--gb-backgroundColorModifier) !important;
  border: none;
  padding: 0;
  margin: 0;
}

.gb-quickref-sheet #gb-abilities .glinkmod:active,
.gb-quickref-sheet #gb-abilities .gurpslink:active {
  border-radius: inherit;
}

.gb-quickref-sheet .glinkmod :hover,
.gb-quickref-sheet .gurpslink:hover {
  background-color: rgb(255, 255, 128) !important;
  border: none;
}

.gb-quickref-sheet .gmod:hover,
.gb-quickref-sheet .glinkmod:hover {
  border: none !important;
  background-color: var(--gb-backgroundColorModifier) !important;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

.gb-quickref-sheet .gb-value.gmod:active,
.gb-quickref-sheet .glinkmod:active {
  background-color: var(--gb-backgroundColorModActive) !important;
}

.gb-quickref-sheet .rollable {
  background-color: inherit !important;
}

.gb-quickref-sheet .rollable:hover,
.gb-quickref-sheet .gurpslink:hover {
  background-color: var(--gb-backgroundColorRollable) !important;
  border: none !important;
  margin: 0 !important;
  border-radius: var(--gb-borderRadius);
  padding: 0;
}

.gb-quickref-sheet .rollable:active,
.gb-quickref-sheet .gurpslink:active {
  background-color: darkgoldenrod !important;
  border: none !important;
  margin: 0 !important;
  border-radius: var(--gb-borderRadius);
  padding: 0;
}

.gb-quickref-sheet .gb-attack .gb-name {
  color: var(--gb-headerColor);
  font-weight: bold;
}

.gb-quickref-sheet .gb-penalty.bulk:before {
  content: 'Bulk ';
}

.gb-quickref-sheet .gb-penalty.acc:before {
  content: 'Acc ';
}

.gb-quickref-sheet #gb-footer {
  display: grid;
  grid-template-columns: 6fr 7fr;
  grid-template-rows: min-content 1fr min-content;
  color: var(--gb-headerColor);
  position: relative;
}

.gb-quickref-sheet #gb-footer .gb-value {
  font-family: Aramante, Roboto, sans-serif;
  font-size: calc(24px * 0.9);
  /* width: 100%; */
  /* text-align: right; */
}

.gb-quickref-sheet #gb-footer .gb-label {
  font-family: BestiaryText, serif;
  color: var(--gb-headerColor);
}

.gb-quickref-sheet #gb-footer .gb-value.gb-bonus {
  font-size: calc(24px * 0.75);
}

.gb-quickref-sheet #gb-footer h3 {
  color: var(--gb-colorSecondaryLabel);
  border-color: var(--gb-colorSecondaryLabel);
  text-align: center;
  border-bottom: 2px solid var(--gb-colorSecondaryLabel);
  font-weight: bold;
}

.gb-quickref-sheet #gb-defenses-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gb-quickref-sheet div#gb-control-thresholds {
  margin-left: 1rem;
}

.gb-quickref-sheet #gb-defenses .gb-defense {
  border-radius: var(--gb-borderRadius);
}

.gb-quickref-sheet .gb-control-threshold-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.gb-quickref-sheet #gb-defenses .gb-defense,
.gb-quickref-sheet .gb-control-threshold-detail .gb-defense,
.gb-quickref-sheet #move .gb-move {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content;
  justify-items: center;
  border-radius: var(--gb-borderRadius);
  min-width: 1rem;
  color: var(--color-text-dark-primary);
}

.gb-quickref-sheet .gb-defense-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.gb-quickref-sheet #pageref {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Aramante', 'Roboto', sans-serif;
  margin: var(--gb-pageRefMargins);
  text-shadow: none;
  background: var(--gb-pageRefBackground);
}

.gb-quickref-sheet #gb-attacks[data-attacks='0'],
.gb-quickref-sheet #gb-attacks[data-attacks='1'],
.gb-quickref-sheet #gb-attacks[data-attacks='2'] {
  column-count: 1;
}

.gb-quickref-sheet input[type='number'].spinner::-webkit-inner-spin-button,
.gb-quickref-sheet input[type='number'].spinner::-webkit-outer-spin-button {
  opacity: 1;
}
